<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body th:fragment="report">

	<div class="container ">
		<h4>Report</h4>
		<hr>
		<div class="row" style="width: 72vw">
			<div class="col-12">
				<div class="data_table">
					<table id="example" class="table table-striped table-bordered">
						<thead class="table-dark">
							<tr>
								<th>Patient Name</th>
								<th>Age</th>
								<th>Reason</th>
								<th>Mobile</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Sonya Frost</td>
								<td>Software Engineer</td>
								<td>Edinburgh</td>
								<td>23</td>
								<td>2008/12/13</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>